/*General*/
body {
	background-color: #e6eef9;
}

.main.container {
	margin: 0 auto;
	padding: 8rem 0;
	width: 90%;
}

.alertMessage {
	position: fixed !important;
	top: 4rem;
	text-align: center;
	width: 100%;
	z-index: 5;
}

.centered.inline.loader {
	margin-top: 15rem;
}

.emptyMessage {
	background-color: white;
	font-size: 20px;
	padding: 3rem;
	text-align: center;
}

.strikeThrough {
	margin: 0 .5rem 0 0;
	text-decoration: line-through;
}

.hidden {
	display: none;
}

a {
	outline: none;
}

.blue {
	background-color: #4982d5 !important;	/*blue*/
}

.red {
	color: red;
}

@media only screen and (min-width: 1600px) {
	.main.container {
		width: 65%;
	}
}

/*Three-dots*/
.three-dot.dropdown .fa-ellipsis-v {
	color: #aaaaaa;		/*light-gray*/
	width: 2rem;
}

.three-dot.dropdown *:not(.fa-ellipsis-v) {
	color: #333333;		/*black*/
}

.three-dot.dropdown:hover .menu {
	display: block;
}

/*Stars*/
.fa-star {
	color: #aaaaaa;		/*dark gray*/
}

.fa-star.yellow {
	color:  #ffd822;	/*yellow*/
}

.fa-star.orange {
	color: #fdbe02;		/*orange*/
}

.ratings:not(:checked) > label:hover,
.ratings:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

/*Watchlist*/
#watchlist {
	background-color: white;
	padding: 2rem;
}

#watchlist .three-dot.dropdown {
	margin-left: .5rem;
}

#watchlist .card {
	box-shadow: none;
}

#watchlist .ui.red.button {
	margin-top: 1rem;
	width: 100%;	
}

/*Form Theme*/
.ui.form .field {
	font-size: 18px;
	margin: 1rem 0;
}

.ui.form .field input {
	border: 0;
	border-bottom: 1px solid rgba(34,36,38,.15);
	border-radius: 0;
	font-size: 20px;
	padding: .5rem 0;
}

.ui.form .field input[type="number"] {
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

.ui.form .field .errorLabel {
	color: red;
	font-size: 14px;
	margin-bottom: .5rem;
}

.ui.form label {
	color: #4a4a4a !important;	/*gray*/
}

/*Modal*/
.ui.active.modal {
	padding: .5rem 1rem;
}

.ui.active.modal .header,
.ui.active.modal .actions {
	border: none;
}

.ui.active.modal .content,
.ui.active.modal .ui.button {
	font-size: 16px;
}