/*General*/
#productDetails .details {
	background-color: white;
	padding: 2.5rem;
}

#productDetails .ui.stackable.grid {
	margin-left: 0;
	width: 100%;
}

/*Product Details*/
#productDetails .header {
	font-size: 24px;
	overflow-wrap: break-word;
}

#productDetails .header .dropdown {
	font-size: 18px;
	float: right;
}

#productDetails .header .fa-star {
	font-size: 16px;
}

#productDetails .details.column {
	display: flex;
	align-items: center;
	justify-content: center;
}

#productDetails .content {
	font-size: 16px;
	line-height: 2rem;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#productDetails .description {
	font-size: 18px;
	line-height: 2em;
	padding: 2rem;
	word-wrap: break-word;
	white-space: pre;
}

/*Cart Form*/
#productDetails .login.button {
	background-color: #eeeeee;	/*lighter-gray*/
}

#productDetails .cartForm {
	font-size: 16px;
}

#productDetails .cartForm > *{
	display: block;
	margin: 1.5rem 0;
}

#productDetails .cartForm input,
#productDetails .cartForm select {
	margin-left: .5rem;
	padding: .3rem .5rem;
	min-width: 9rem;
	width: 9rem;
}

#productDetails .cartForm .ui.button {
	margin: .5rem 0;
	width: 100%;
}

#productDetails .watchlist.button {
	filter: saturate(.75);
}

@media only screen and (min-width: 1500px) {
	#productDetails {
		margin: 0 auto;
		width: 80%;
	}
}

@media only screen and (min-width: 993px) {
	#productDetails .cartForm {
		font-size: 18px;
		margin: auto !important;
		width: 80%;
	}
}

@media only screen and (max-width: 768px) {
	#productDetails .details.column {
		order: 2;
	}

	#productDetails .cartForm {
		width: 80%;
	}
}