#userForm {
	border-radius: .75rem;
	box-shadow: 0 .5rem 2rem .1rem lightgray;
	margin: 6rem auto !important;
}

#userForm > .column {
	padding: 3.25rem !important;
}

#userForm *:not(i) {
	width: 100%;
}

#userForm h2 {
	letter-spacing: .05rem;
	text-align: center;
}

#userForm .ui.button {
	font-size: 16px;
	margin: .75rem 0;
}

#userForm .field.red > input {
	border-color: red;
}

#userForm .errorLabel {
	position: absolute;
	top: 2.5rem;
	margin-top: .5rem;
}

#userForm .googleLogin {
	background: white url("../assets/google-normal.png") no-repeat center;
	box-shadow: 0 0 3px lightgray;
	border: 0;
	cursor: pointer;
	margin-top: .75rem;
	height: 3.5rem;
}

#userForm .googleLogin:hover {
	background: #eeeeee url("../assets/google-hover.png") no-repeat center;
}

@media only screen and (min-width: 992px) {
	#userForm {
		width: 50%;
	}
}

@media only screen and (max-width: 992px) {
	#userForm .field .errorLabel {
		top: 3.5rem;
	}

	#userForm .ui.form .googleLogin,
	#userForm .ui.form input,
	#userForm .ui.form .ui.button {
		height: 3rem;
		margin: .5rem 0;
	}
}