/*Header*/
#cart {
	font-size: 18px;
	margin: 0 auto;
	width: 70%;
}

#cart .header,
#cart .empty {
	margin: 0;
	padding: 1.5rem;
}

/*Table*/
#cart .table {
	margin: 0;
}

#cart thead,
#cart td:not(.name) {
	text-align: center;
}

#cart tbody {
	word-wrap: break-word;
}

#cart .remove {
	padding: 0 !important;
}

#cart .remove .ui.button {
	display: flex;
	justify-content: center;
	align-items: center;
}

#cart .icon {
	margin: 0;
}

#cart .total {
	padding: 1rem 0;
	text-align: right;
}

#cart .checkout {
	text-align: right;
}

#cart .checkout .button {
	position: relative;
	margin: 1rem;
}

@media only screen and (max-width: 1200px) {
	#cart {
		width: 90%;
	}
}

@media only screen and (max-width: 992px) {
	#cart .table,
	#cart .table *:not(span) {
		display: block;
	}

	#cart .table thead {
		display: none;
	}

	#cart .table td:not(.image):not(.remove) {
		margin: .5rem 1rem;
		text-align: left;
	}

	#cart img,
	#cart .remove .ui.button {
		width: 100%;
	}
}

@media only screen and (min-width: 993px) {
	#cart td {
		position: relative;
		width: 10%;
	}

	#cart .remove {
		width: 2%;
	}

	#cart .remove .ui.button {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	#cart .image img {
		height: 50%;
		width: 100%;
	}

	#cart .label {
		display: none;
	}
}

@media only screen and (min-width: 1200px) {
	#cart .name {
		max-width: 25rem;
	}
}