/*General*/
.main.container {
	margin: 0 auto;
	padding: 8rem 0;
	width: 90%;
}

.alertMessage {
	position: fixed !important;
	top: 4rem;
	text-align: center;
	width: 100%;
	z-index: 5;
}

.centered.inline.loader {
	margin-top: 15rem;
}

.hidden {
	display: none;
}

a {
	outline: none;
}

@media only screen and (min-width: 1600px) {
	.main.container {
		width: 75%;
	}

	#header {
		padding: 0 12.5%;
	}
}

/*Form Theme*/
.ui.form .field {
	font-size: 18px;
	margin: 1.5rem 0;
}

.ui.form .field input {
	border: 0;
	border-bottom: 1px solid rgba(34,36,38,.15);
	border-radius: 0;
	font-size: 20px;
	padding: .5rem 0;
}

.ui.form .field .errorLabel {
	font-size: 14px;
	margin-bottom: .5rem;
}

/*Modal*/
.ui.active.modal {
	padding: .5rem 1rem;
}

.ui.active.modal .header,
.ui.active.modal .actions {
	border: none;
}

.ui.active.modal .content,
.ui.active.modal .ui.button {
	font-size: 16px;
}

/*Colors*/
body {
	background-color: #dbe6f7;  /*lightest blue*/
}

#header {
	background-color: #586cdc;  /*indigo*/
}

.blue {
	background-color: #4982d5 !important;	/*blue*/
}

#productForm .fileUploader .deleteImage {
	background-color: #f54747; /*red*/
}

.errorLabel {
	color: red;
}

#header .resultBox,
#userForm,
#productForm,
#productList .image,
#productDetails {
	background-color: white;
}

#header .item {
	color: white !important;
}

#cart {
	background-color: #fafafa;	/*lightest-gray*/
}

#productForm .react-tagsinput-tag,
#productForm .react-tagsinput-remove {
	background-color: #eeeeee;	/*light-gray*/
}

#productList .meta,
#productForm .react-tagsinput-tag,
#productForm .react-tagsinput-remove {
	color: #333333;		/*black*/
}