#productForm {
	background-color: white;
	margin: 6rem 0;
}

#productForm > .column {
	padding: 2rem 2.75rem;
}

#productForm h2 {
	color: #4a4a4a !important;	/*gray*/
}

/*Text Inputs*/
#productForm .field {
	width: 100%;
}

#productForm label,
#productForm input {
	margin-bottom: .5rem;
}

#productForm input[type="number"],
#productForm input[type="date"] {
	width: 12.5rem !important;
}

#productForm input,
#productForm textarea {
	padding-bottom: 0;
	margin-bottom: .25rem;
}

#productForm .react-tagsinput,
#productForm .react-tagsinput-tag {
	border: 0;
}

#productForm .react-tagsinput-tag,
#productForm .react-tagsinput-remove {
	color: #333333;		/*black*/
	background-color: #eeeeee;	/*lighter-gray*/
}

#productForm .react-tagsinput-input {
	width: 20rem;
}

/*File Upload*/
#productForm .fileUploader .uploadPictureContainer {
	margin: 2rem;
	padding: 0;
}

#productForm .fileUploader .uploadPicture,
#productForm .fileUploader .deleteImage {
	border-radius: .3rem;
}

#productForm .fileUploader .deleteImage {
	background-color: #f54747; /*red*/
	top: 0;
	right: 0;
	font-size: 20px;
}

@media only screen and (min-width: 1200px) {
	#productForm > .column {
		padding: 2.5rem 3.5rem !important;
	}
}

@media only screen and (min-width: 768px) {
	#productForm {
		margin: 0 auto;
		width: 75%;
	}
}

@media only screen and (max-width: 768px) {
	#productForm > .column {
		padding: 2rem !important;
	}
}