/*General*/
#productDetails .details {
	padding: 2.5rem;
}

#productDetails .ui.stackable.grid {
	margin-left: 0;
	width: 100%;
}

#productDetails .ui.admin.buttons {
	float: right;
	margin-left: 90%;
}

#productDetails .divider {
	margin: 2rem 0;
}

/*Product Details*/
#productDetails .header {
	font-size: 24px;
	overflow-wrap: break-word;
}

#productDetails .content {
	font-size: 16px;
	line-height: 2rem;
	white-space: pre-wrap;
	word-wrap: break-word;
}

/*Cart Form*/
#productDetails .cartForm {
	font-size: 18px;
}

#productDetails .cartForm > * {
	display: block;
	margin: 1.5rem 0;
}

#productDetails .cartForm input,
#productDetails .cartForm select {
	margin-left: .5rem;
	padding: .3rem .5rem;
	min-width: 9rem;
	width: 9rem;
}


#productDetails .cartForm .ui.button {
	width: 100%;
}

@media only screen and (min-width: 1500px) {
	#productDetails {
		margin: 0 auto;
		width: 80%;
	}
}

@media only screen and (min-width: 993px) {
	#productDetails .contentTop.divider {
		display: none;
	}

	#productDetails .cartForm {
		margin: auto !important;
		width: 80%;
	}
}

@media only screen and (max-width: 992px) {
	#productDetails .column {
		width: 100% !important;
	}

	#productDetails .details.column {
		order: 2;
	}
}