#productList .content {
	font-size: 16px;
	overflow-wrap: break-word;
}

#productList .meta {
	font-size: 24px;
	margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
	#productList img {
		height: 20rem;
		padding: 1.5rem;
		object-fit: contain;
	}
}

@media only screen and (max-width: 1200px) {
	#productList .card {
		margin: 1rem 1.6%;
		width: 30%;
	}
}

@media only screen and (max-width: 992px) {
	#productList .card {
		margin: 1rem 3%;
		width: 44%;
	}
}